@{
    ViewBag.Title = "Azure Storage Management";
}
<h2>@ViewBag.Title.</h2>
<div>
    <form method="post" action="/Home/SelectContainer">
        <h4>Select an Container</h4>
        <select name="option">
            <option value="option1" selected></option>
            <option value="option2">Container1</option>
            <option value="option3">Container2</option>
            <option value="option2">Container3</option>
            <option value="option3">Container4</option>
            <option value="option3">Container5</option>
        </select>
        <input type="submit" value="提交">
    </form>
</div>
<br />
<p>Use this area to provide additional information.</p>
